<!-- views/error.ejs-->
<%- include('partials/header') %>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1><%= title %></h1>
            <p><%= message %></p>
            <a href="/" class="btn btn-primary">Go Home</a>
        </div>
    </div>
</div>

<%- include('partials/footer') %>